body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to bottom right, #2d2d72, #1e1e40);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.countdown-container {
    text-align: center;
    background: rgba(0, 0, 0, 0.6);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.timer {
    display: flex;
    justify-content: center;
    gap: 20px;
		margin-bottom: 20px;
}

.time-box {
    background: rgba(255, 255, 255, 0.1);
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    min-width: 100px;
}

.time-box span {
    font-size: 3rem;
    font-weight: bold;
}

.time-box p {
    font-size: 1rem;
    margin-top: 10px;
}

.today {
	font-size: 1.8rem;
	font-weight: 700;
}


